.container {
    background-color: #7ba5e8;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.corpoJogo {
    background-color: #3a73cf;
    width: 700px;
    height: 700px;
    border-radius: 5px;
    box-shadow: 0 0 10px #3a73cf;
    display: flex; 
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    gap: 10px;
}

.btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px; 
    width: 165px;
    height: 55px;
    background-color: #0066b8;
    border: none;
    color: white;
    text-align: center;
    padding: 15px 20px; 
    transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
    background-color: #004c91; /* Cor de fundo diferente no hover */
    transform: scale(1.05); /* Aumenta ligeiramente o tamanho no hover */
    cursor: pointer; /* Muda o cursor para uma mãozinha no hover */
}

#botaoProximo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#botaoProximo:hover {
    background-color: #71a2c2; /* Cor de fundo diferente no hover */
    transform: scale(1.05); /* Aumenta ligeiramente o tamanho no hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra no hover */
}

#textoExplicacao {
    font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  text-align: left;
  width: 500px; 
  }

body {
    margin: 0px;
}
